@media all and (max-width: 1250px) {

    .container {
        max-width: 95%;
    }

    :root {
        --font-size-nav-menu: 16px;
        --font-size-nav-action: 16px;
        --font-size-header-title: 70px;
        --font-size-header-caption: 25px;
        --font-size-header-href: 20px;
        --font-size-header-tag: 18px;

        --font-section-title: 20px;
        --font-section-big-title: 42px;
        --font-section-caption: 18px;

        --font-size-card-text: 21px;
        --font-size-card-caption: 20px;

        --font-size-product-title: 30px;
        --font-size-product-subtitle: 24px;
        --font-size-product-caption: 24px;

        --font-size-banner-title: 60px;
        --font-size-banner-caption: 24px;

        --font-size-footer-caption: 16px;
        --font-size-footer-copy: 20px;
        --font-size-footer-list-title: 18px;
        --font-size-footer-list-href: 14px;
    }

}

@media all and (max-width: 1140px) {
    .section-header {
        flex-direction: column;
    }

    .about-images {
        flex-direction: column;
    }

    .about-images img {
        width: 100%;
        height: 270px;
    }

    .section-header-inner {
        flex: 1;
    }

    .section {
        padding: 36px 0;
    }

    .section > article {
        gap: 36px;
    }

    .card-image {
        display: none;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        padding: 20px;
        min-height: fit-content;
    }

    .card span {
        display: none;
    }

    .card-white {
        color: var(--color-text);
        background: var(--color-section);
        border: 0;
    }

    .card-white span {
        color: var(--color-white);
        background: var(--color-text);
    }

    .footer-container {
        flex-direction: column;
        gap: 18px;
    }
}


@media all and (max-width: 820px) {
    :root {
        --font-size-nav-menu: 16px;
        --font-size-nav-action: 16px;
        --font-size-header-title: 30px;
        --font-size-header-caption: 20px;
        --font-size-header-href: 20px;
        --font-size-header-tag: 14px;

        --font-section-title: 20px;
        --font-section-big-title: 30px;
        --font-section-caption: 18px;

        --font-size-card-text: 21px;
        --font-size-card-caption: 20px;

        --font-size-product-title: 22px;
        --font-size-product-subtitle: 20px;
        --font-size-product-caption: 16px;

        --font-size-banner-title: 34px;
        --font-size-banner-caption: 20px;

        --font-size-footer-caption: 16px;
        --font-size-footer-copy: 20px;
        --font-size-footer-list-title: 18px;
        --font-size-footer-list-href: 14px;
    }

    .mobile-section {
        display: block;
    }

    #header {
        height: 100%;
        padding: 90px 0 36px 0;
        display: block;
        min-height: fit-content;
        text-align: center;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-header-inner {
        gap: 0;
    }

    .header-link {
        margin-bottom: 24px;
    }

    .header-tags {
        align-items: center;
        justify-content: center;
    }

    .accordion-header > div > span {
        width: 26px;
        height: 26px;
    }

    .header-tags > article {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .accordion-content-inner {
        gap: 16px;
    }

    .accordion {
        gap: 20px;
    }



    .section > article {
        gap: 10px;
    }

    .section-header-title, .section-header-big-title {
        text-align: center;
    }

    .nav {
        display: none;
    }

    .footer-list {
        gap: 18px;
        flex-direction: column;
    }

    .footer-ul div {
        max-width: 100%;
    }

    .footer-ul {
        margin-top: 18px;
    }

}
